{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <h3>Register (create owner)</h3>
    <form method="post">
      <div class="mb-2"><input name="business_name" class="form-control" placeholder="Business name"></div>
      <div class="mb-2"><input name="email" class="form-control" placeholder="email"></div>
      <div class="mb-2"><input name="password" type="password" class="form-control" placeholder="password"></div>
      <div class="form-check"><input type="checkbox" class="form-check-input" id="is_owner" name="is_owner"><label class="form-check-label" for="is_owner">Is owner?</label></div>
      <button class="btn btn-success mt-2">Register</button>
    </form>
  </div>
</div>
{% endblock %}
